.container {
  max-width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  margin: 0 auto;
}

.container__left {
  display: flex;
  gap: 20px;
  flex-direction: column
}





.product {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-bottom: 40px;
  padding-left: 250px;
}

.productTitle {
  margin-top: 0;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 4px;
}

.imgWrapper {
  display: flex;
  gap: 200px;
}

.Img {
  max-width: 488px;
}

.desc {
  max-width: 400px;
  flex-shrink: 0;
}

.reviews {
  max-width: 992px;
  margin-top: 30px;
}

.separator {
  height: 1px;
  background: #ECEFF1;
  margin-bottom: 10px;
}
.reviews__user{
  display: flex;
  gap: 10px;
  padding: 10px 0 10px 0;
  align-items: center;
}
.img__user{
  width: 70px;
  height: 40px;
  border-radius: 10px;
}

.price {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  display: block;
  margin-bottom: 24px;
}


.oldPrice {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: line-through;
  display: block;
}

.newPrice {
  color: red
}

.delivery {
  display: flex;
  gap: 10px;
  background-color: rgba(236, 239, 241, 0.6);
  border-radius: 12px;
  padding: 12px;
  align-items: flex-start;
  width: 343px;
}

.delivery:not(.delivery:last-child) {
  margin-bottom: 8px;
}

.right {
  margin-left: 12px;
}

.name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.text__header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

}

.text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.text__favorites {
  font-size: 14px;
  color: #7B8E98;
  cursor: pointer;

}


.text:not(.text:last-child) {
  margin-bottom: 8px;
}


.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: 20px;
  margin-bottom: 40px;
}

.naming {
  font-size: 16px;
  line-height: 20px;
  color: #7b8e98;
}

.description {
  font-size: 16px;
  line-height: 20px;
}

.description p {
  margin-bottom: 12px;
}

.box {
  display: flex;
  flex-direction: column;
}

.Like {
  display: flex;
  gap: 10px;
  background: none;
  cursor: pointer;
  border: none;
  fill: red;
  width: fit-content;


}

.noLike {
  display: flex;
  gap: 10px;
  background: none;
  cursor: pointer;
  border: none;
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  width: fit-content;

}

@media (max-width: 1000px) {
  .product {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
  }

  .desc {
    width: 100% !important;
    max-width: initial;
  }

  .grid {
    column-gap: 10px;
  }
}

@media (max-width: 400px) {
  .cart {
    padding: 14px 20px;
  }
}

.controls {
  display: flex;
  gap: 20px;
}

.controls__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  border-radius: 100px;
  padding: 0 20px;

}

.controls__cart {
  padding: 14px 70px;
}

.controls__cart:hover,
.controls__cart:focus {
  opacity: 0.5;

}

.controls__cart__red {
  background-color: red;
}

.controls__cart__left {
  border: 1px solid #cfd8dc;
  background-color: #fff;
  height: 48px;
  border-radius: 100px;
}


.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.btn__review {
  border: 1px solid #CFD8DC;
  border-radius: 87px;
  font-weight: 700;
  line-height: 20px;
  transition: background-color .3s;
  width: 162px;
  height: 40px;
  margin-left: auto;
}

.btn__review:hover {
  background-color: rgba(255, 228, 77, 1);
  cursor: pointer;
}
.container__form{
  padding: 16px;
  position: relative;
  width: 300px;
  height: max-content;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
  border-radius: 20px;
}

.close{
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 25px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  padding: 7px 16px;
  outline: none;
  height: 100px;
}

.link {
  color: yellow;
}